<div class="o-page__sidebar js-page-sidebar">
    <div class="c-sidebar">
        <a class="c-sidebar__brand" href="/">
            <img class="c-sidebar__brand-img" src="img/main/logo.png" alt="Logo"> BrainMap
        </a>

        <h4 class="c-sidebar__title">Dashboard</h4>
        <ul class="c-sidebar__list">
            <li class="c-sidebar__item">
                <a class="c-sidebar__link is-active" href="#.">
                    <i class="fa fa-smile-o u-mr-xsmall"></i>Mood
                </a>
            </li>
            <li class="c-sidebar__item">
                <a class="c-sidebar__link" href="#.">
                    <i class="fa fa-meh-o u-mr-xsmall"></i>Anxiety
                </a>
            </li>
            <li class="c-sidebar__item">
                <a class="c-sidebar__link" href="#.">
                    <i class="fa fa-frown-o u-mr-xsmall"></i>Cognition
                </a>
            </li>
            <li class="c-sidebar__item">
                <a class="c-sidebar__link" href="#.">
                    <i class="fa fa-meh-o u-mr-xsmall"></i>ADHD
                </a>
            </li>
        </ul>

        <h4 class="c-sidebar__title">Result</h4>
        <ul class="c-sidebar__list">
            <li class="c-sidebar__item">
                <a class="c-sidebar__link" href="#.">
                    <i class="fa fa-line-chart u-mr-xsmall"></i>자가평가
                </a>
            </li>
            <li class="c-sidebar__item">
                <a class="c-sidebar__link" href="#.">
                    <i class="fa fa-area-chart u-mr-xsmall"></i>임상평가
                </a>
            </li>
            <li class="c-sidebar__item">
                <a class="c-sidebar__link" href="#.">
                    <i class="fa fa-home u-mr-xsmall"></i>환자 레포트
                </a>
            </li>
        </ul>

        <h4 class="c-sidebar__title">Data</h4>
        <ul class="c-sidebar__list">
            <li class="c-sidebar__item">
                <a class="c-sidebar__link" href="#.">
                    <i class="fa fa-home u-mr-xsmall"></i>자동 입력
                </a>
            </li>
            <li class="c-sidebar__item">
                <a class="c-sidebar__link" href="#.">
                    <i class="fa fa-home u-mr-xsmall"></i>수동 입력
                </a>
            </li>
            <li class="c-sidebar__item">
                <a class="c-sidebar__link" href="#.">
                    <i class="fa fa-home u-mr-xsmall"></i>의사 입력
                </a>
            </li>
            <li class="c-sidebar__item">
                <a class="c-sidebar__link" href="#.">
                    <i class="fa fa-home u-mr-xsmall"></i>데이터 열람
                </a>
            </li>
            <li class="c-sidebar__item">
                <a class="c-sidebar__link" href="#.">
                    <i class="fa fa-home u-mr-xsmall"></i>DSM-V 입력
                </a>
            </li>
        </ul>

        <h4 class="c-sidebar__title">Education</h4>
        <ul class="c-sidebar__list">
            <li class="c-sidebar__item">
                <a class="c-sidebar__link" href="#.">
                    <i class="fa fa-home u-mr-xsmall"></i>Drug
                </a>
            </li>
            <li class="c-sidebar__item">
                <a class="c-sidebar__link" href="#.">
                    <i class="fa fa-home u-mr-xsmall"></i>Disorder
                </a>
            </li>
            <li class="c-sidebar__item">
                <a class="c-sidebar__link" href="#.">
                    <i class="fa fa-home u-mr-xsmall"></i>Treatment
                </a>
            </li>
        </ul>

        <h4 class="c-sidebar__title">Screen</h4>
        <ul class="c-sidebar__list">
            <li class="c-sidebar__item">
                <a class="c-sidebar__link" href="#.">
                    <i class="fa fa-tv u-mr-xsmall"></i>대기화면
                </a>
            </li>
        </ul>

    </div><!-- // .c-sidebar -->
</div><!-- // .o-page__sidebar -->