<!doctype html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>BrainMap | 404 - Page Not</title>
    <meta name="description" content="Dashboard UI Kit">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600" rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="css/main.min.css">
</head>

<body class="o-page o-page--center">

    <div class="o-page__card">
        <div class="c-card u-mb-small">
            <header class="c-card__header u-text-center u-pt-large">
                <span class="c-card__icon">
                    <img src="img/main/logo.png" style="width: 40px;">
                </span>
                <h1 class="u-text-big u-mb-zero">
                    404 <em class="u-block u-text-mute u-text-large">Page Not Found</em>
                </h1>
            </header>
            <div class="c-card__body">
                <h2 class="u-h5 u-text-center u-mb-medium">
                    Sorry, but we didn't find the page you are looking for. Please go to back home.
                </h2>
                <a href="/"><button class="c-btn c-btn--fullwidth">GO TO BACK HOME</button></a>
            </div>
        </div>

    </div>

    <!-- Main javascsript -->
    <script src="js/main.min.js"></script>
</body>

</html>